certifi==2019.11.28
docutils==0.15.2
joblib==0.14.1
lockfile==0.12.2
luigi==2.8.10
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.17.4
pandas==0.25.3
python-daemon==2.2.3
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22
scipy==1.3.2
six==1.13.0
tornado==5.1.1
